<div class="row-container section-p1">
    <div class="card-item item1">
        <div class="container-content">
            <h4>crazy deals</h4>
            <h3>buy1 get 1 free</h3>
            <p>The best classic dress is on sale at Mikee shops</p>
            <button class="btn-transparent">Learn More</button>
        </div>
    </div>
    <div class="card-item item2">
        <div class="container-content">
            <h4>springs/summer</h4>
            <h3>upcomming season</h3>
            <p>The best classic dress is on sale at Mikee shops</p>
            <button class="btn-transparent">Collection</button>
        </div>
    </div>
</div>